body {
  background: linear-gradient(to right, #403a3e, #be5869);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.form-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 10px;
}
.form-control,
.form-select {
  margin: 10px;
  width: 90%;
}
.car-wrapper {
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}
.cars-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
